version: "3.8"

services:
  db:
    image: postgres:15
    container_name: odoo_db
    environment:
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo
      POSTGRES_DB: postgres
    volumes:
      - odoo_db_data:/var/lib/postgresql/data

  odoo:
    build:
      context: .
      dockerfile: Dockerfile.odoo
    container_name: odoo_base
    depends_on:
      - db
    environment:
      HOST: db
      PORT: 5432
      USER: odoo
      PASSWORD: odoo
      PGDATABASE: postgres
    ports:
      - "8069:8069"
    volumes:
      - odoo_data:/var/lib/odoo
      - ./addons:/mnt/extra-addons
      - ./saas-modules/saas-addons-16:/mnt/saas-addons
    command: ["odoo", "--addons-path=/usr/lib/python3/dist-packages/odoo/addons,/mnt/saas-addons", "--dev=reload"]

volumes:
  odoo_db_data:
  odoo_data:
